

.header-container {
    background-color: #f6f6f6;
    border-bottom: 3px solid #D9D9D9;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    font-family: Poppins;
    display: flex;
    justify-content: space-between;
    padding:0 20px;
    
}
img{
    padding:-20px;
}
.cat-container {
    border-bottom: 3px solid #D9D9D9;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    padding: 15px 20px;

}

.mt-3 {
    display: inline-block;
    margin-top: 20px;
}

.navbar-links{
    margin-top: 5px;
}

.search {
    margin-left: 2rem;
    background-color: #d9d9d970;
    color: #6a1e7d;
    outline: none;
    padding: 10px;
    width: 250px;
    height: 40px;
    border: 2px solid #d9d9d9;
    border-radius: 10px 0 0 10px;
} 

.search:hover{
    border:2px solid #6a1e7d;
}

.search-btn {
    height: 40px;
    background-color: #6a1e7d;  
    color: #fff;
    border-radius: 0 10px 10px 0;
    outline: none;
    border: none;
    padding: 0px 15px;
    margin-right: 20rem;
    font-size: 1.2rem;
}


.sell-btn {
    height: 44px;
    background-color: #002f34;
    color: #fff;
    border-radius: 25px 25px 25px 25px;
    outline: none;
    border: none;
    padding: 0px 15px;
}
.logout-btn {
    margin-right: 0;
    height: 44px;
    background-color: #002f34;
    color: #fff;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 1px 16px;
    margin-right: 10px;
}
.navbar-brand{
    font-size: 24px;
    color: #6a1e7d;
    font-weight: bold;
}
.plus-icon{
    margin-top: 0px;
    height: 2px;
    padding-bottom: 12px;
}
.sell-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50; /* Green color, you can customize */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style the button on hover */
  .sell-button:hover {
    background-color: #45a049; /* Darker green on hover, you can customize */
  }
  .sell {
    padding: 8px 8px;
    color: #fff;
    text-align: center;
    background: #6a1e7d;
    border-radius: 1px;
    font-size: 1.2rem;
  }
  .sell:hover{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }

  .category{
    padding-right: 10px;
    cursor: pointer;
  }