.container {
    max-width: 100%;
}
.gradient-custom {
    /* Fallback for old browsers */
    background: #a4508b; /* Solid purple color as fallback */
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(163, 72, 139, 1), rgba(103, 58, 183, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(163, 72, 139, 1), rgba(103, 58, 183, 1));
}

